.email__input input[type=email] {
  padding-left: 40px;
}

.password__input input[type=password] {
  padding-left: 40px;
}

.email__input {
  position: relative;
}

.email__input i{
  position: absolute;
  font-size: 1.5rem;
  left: 0;
  padding: 7px 10px;
  color: #aaa;
}

.password__input input[type=password] {
  padding-left: 40px;
}

.password__input {
  position: relative;
}

.password__input i{
  position: absolute;
  font-size: 1.6rem;
  left: 0;
  padding: 7px 10px;
  color: #aaa;
}